
.mb-1{
  margin-bottom: $count;
}
.mb-2{
  margin-bottom: $count2;
}
.mb-3{
  margin-bottom: $count3;
}
.mb-4{
  margin-bottom: $count4;
}
.me-1{
  margin-right: $count;
}
.me-2{
  margin-right: $count2;
}
.me-3{
  margin-right: $count3;
}
.me-4{
  margin-right: $count4;
}