.dashboard{
  &__content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -7px;
  }
  &__item {
    padding: 0 7px;
    flex: 0 0 50%;
    &-inner {
      width: 100%;
      padding: 30px;
      display: flex;
      align-items: center;
      margin-bottom: 14px;
      border-radius: 20px;
      background: #FFFFFF;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    }
    &-left {
      width: 250px;
      margin-right: 60px;
      .title {
        margin-bottom: 11px;
      }

      .count {
        @include text($poppins, normal, 600, 36px, 54px);
        color: $blue1;
        &.yellow{
          color: $yellow;
        }
        &.green{
          color: $green2;
        }
        &.purple{
          color: $purple1;
        }
      }

      .info {
        margin-top: 8px;
        color: $blue1;
        &.yellow{
          color: $yellow;
        }
        &.green{
          color: $green2;
        }
        &.purple{
          color: $purple1;
        }
        svg{
          fill: currentColor;
        }
        span {
          margin: 0 8px;
          color: $blue1;
          &.yellow{
            color: $yellow;
          }
          &.green{
            color: $green2;
          }
          &.purple{
            color: $purple1;
          }
        }
        p {
          color: $gray2;
        }
      }
    }
    &-right{
      p{
        margin-bottom: 4px;

      }
      span {
        width: 35px;
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}

.notification{
  &-item {
    //padding: 10px 15px;
    //height: 46px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: $bg-white;
    color: $gray3;
    border-bottom: 1px solid $gray6;
    transition: all 0.3s ease;
    &:nth-child(even){
      background: #F6FAFF;
    }
    &.head{
      background: $bg-white;
      border-top: 1px solid $gray6;
      color:$gray2
    }

    &>div {
      padding: 14px 20px;
      &:nth-child(1){
        flex: 0 0 60%;
      }
      &:nth-child(2),
      &:nth-child(3){
        flex: 0 0 20%
      }
    }


    &:hover {
      //background: $bg-bg;
    }

    .check {
      margin-right: 16px;
    }
  }
}