.filter{
  &__bar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 15px;
    border-radius: 20px 20px 0px 0px;
    background: $bg-white;
  }
  &__btns{
    display: flex;
    align-items: center;
    margin-left: auto;
    .btn{
      margin-left: 15px;
    }
  }
}

.detail{
    &__nav{
      display: flex;
      align-items: center;
      padding: 20px 15px;
      border-radius: 20px 20px 0px 0px;
      background: $bg-white;
      &-back{
        display: flex;
        color: $gray2;
        svg{
          cursor: pointer;
          margin-right: 30px;
          fill: currentColor;
          color: $gray2;
        }
        span{
          white-space: nowrap;
          margin-right: 60px;
          color: $gray2;
        }
      }
      &-item{
        display: flex;
        align-items: center;
        white-space: nowrap;
        margin-right: 30px;
        color: $gray3;
        svg {
          fill: currentColor;
          margin-right: 8px;
          color: $gray3;
        }

      }
    }
  }