.trucks {
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
    background: $bg-white;
    border-radius: 0 0 20px 20px;
    border-top: 1px solid $gray6;
    .hr {
      width: 100%;
      height: 1px;
      background: $gray6;
      margin: 30px 0;
    }
    .btns{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .btn{
        margin-right: 15px;
        min-width: 140px;
      }
    }
  }

  &__title {
    width: 100%;
    color: $gray2;
    padding-bottom: 3px;
    border-bottom: 1px solid $gray6;
    margin-bottom: 15px;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 30px;
  }

  &__info-item {
    padding: 0 15px;
    flex: 0 0 50%;
  }

  &__info-inner {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0 9px;
    border-bottom: 1px solid $gray6;

    .title {
      color: $gray4;
      width: 170px;
    }

    .value {
      color: $gray2;
    }
  }

  &__pick {
    &-location {
      width: 100%;
      display: flex;
      align-items: flex-end;
      margin-bottom: 30px;

      .form__control {
        flex: 0 0 50%;
      }
    }

    &-radios {
      flex: 1 0 50%;
      padding-left: 50px;
      padding-bottom: 8px;
      display: flex;
      label{
        margin-right: 30px;
      }
    }

    &-loads {
      margin-bottom: 15px;

      p {
        color: $gray2;
        margin-bottom: 15px;
      }

      .info{
        display: flex;
        svg{
          margin-right: 8px;
        }
        span {
          color: $gray4;
          @include text('Poppins',normal,400,14px,21px)
        }
      }
    }

    &-selects {
      width: 100%;
      display: flex;
      align-items: center;
      margin: 0 -15px;
    }
    &-select {
      padding: 0 15px;
      flex: 0 0 50%;
      .pick-select {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px 9px;
        border: 1px solid $gray5;
        border-radius: 14px;
        cursor: pointer;
        .title {
          color: $gray2;
        }
        .count {
          color: $gray4;
          display: flex;
          align-items: center;
          svg{
            margin-left: 10px;
          }
        }
      }
    }


    &-inputs {
      width: 110px;
      height: 110px;
      border-radius: 10px;
      border: 2px solid transparent;
      overflow: hidden;
      position: relative;
      display: inline-block;
      margin: 0 15px 15px 0;
      transition: all 0.3s ease;
      .wrapper {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0;
        color: $bg-white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: transparent;
        transition: all 0.3s ease;

        span{
          padding: 8px;
          text-align: center;
        }
      }

      &:hover {
        cursor: pointer;
        border-color: $blue1;
        .wrapper {
          opacity: 1;
            background: rgba(0, 0, 0, 0.5);
        }
        img{
          display: block;
          width: 100%;
          height: 100%;
          opacity: 1;
          visibility: visible;
        }
        svg{
          opacity: 0;
        }
      }

      &:active {
        &:before {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: rgba($blue1, 0.4);
        }
      }

      img {
        object-fit: cover;
        opacity: 0;
        width: 0;
        height: 0;
        visibility: hidden;
      }
    }

  }

  &__draw {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    &-inner{
      flex: 1 0 50%;
      padding: 0 15px;
    }
    &-item {
      width: 100%;
      padding: 8px;
      margin-bottom: 30px;
      background: #f7f7f7;
      border: 1px solid $gray6;
      border-radius: 14px;
      p {
        text-align: center;
        margin-bottom: 8px;
        color: $gray2;
      }
      textarea {
        width: 100%;
        min-height: 40px;
        padding: 15px 15px 4px;
        border-radius: 14px;
        border: 1px solid $gray6;
        outline: none;
        &::placeholder{
          color: $gray5;
        }
      }
    }
    &-dr {
      width: 100%;
      border: 1px solid $gray6;
      min-height: 127px;
      background: $bg-white;
      border-radius: 14px;
    }
  }
}